.git
.github
.gitignore
.gitattributes

.env
.env.*

node_modules

vendor

tests
phpunit.xml

.vscode
.idea

.phpunit.result.cache
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot

docker-compose.yml
docker-compose.yaml
Dockerfile

k8s
docker
LICENSE
ERD.png
README.md